<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Chercher">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>  Nom du Produit </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/productDetails', element.id]"> {{element.productName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Couleur </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="productMaterial">
      <th mat-header-cell *matHeaderCellDef> Matériau </th>
      <td mat-cell *matCellDef="let element"> {{element.productMaterial}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Date de Fabrication </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'd/M/y'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Prix </th>
      <td mat-cell *matCellDef="let element"> {{element.price}}$ </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
